asgiref==3.5.2
backports.zoneinfo==0.2.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
dj-database-url==0.5.0
# Django==4.0.4
-e git+https://github.com/patamarcelo/django.git#egg=django
-e git+https://github.com/patamarcelo/django-adminlte3.git#egg=django-adminlte3
django-cors-headers==3.12.0
django-heroku==0.3.1
-e git+https://github.com/patamarcelo/django-storages.git#egg=django-storages
djangorestframework==3.13.1
dropbox==11.31.0
gunicorn==20.1.0
idna==3.3
Pillow==9.1.1
ply==3.11
psycopg2==2.9.3
python-dateutil==2.8.2
pytz==2022.1
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
stone==3.3.1
urllib3==1.26.9
whitenoise==6.1.0
