asgiref==3.5.2
autopep8==1.7.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
black==22.3.0
bs4==0.0.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
click==8.1.3
dj-database-url==0.5.0


django-cors-headers==3.12.0
django-environ==0.9.0
django-heroku==0.3.1

djangorestframework==3.13.1
dropbox==11.31.0
gunicorn==20.1.0
idna==3.3
lxml==4.9.1
mypy-extensions==0.4.3
numpy==1.23.1
pandas==1.4.3
pathspec==0.9.0
Pillow==9.1.1
platformdirs==2.5.2
ply==3.11
psycopg2==2.9.3
pycodestyle==2.9.1
python-dateutil==2.8.2
python-decouple==3.6
pytrends==4.8.0
pytz==2022.1
requests==2.27.1
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
stone==3.3.1
toml==0.10.2
tomli==2.0.1
typing_extensions==4.2.0
urllib3==1.26.9
whitenoise==6.1.0


-e git+https://github.com/patamarcelo/django.git#egg=django
-e git+https://github.com/patamarcelo/django-adminlte3.git#egg=django-adminlte3
-e git+https://github.com/patamarcelo/django-storages.git#egg=django-storages